@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!--<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>-->
<div class="alert alert-danger">
    <h4 class="alert-heading">Error!</h4>
    <p>An error occurred while processing your request.</p>
</div>
