@{
    ViewBag.Title = "Simple URL Explorer";
}

<div class="jumbotron mt-5">
    <h1 class="display-4 text-center">About</h1>
    <p class="lead text-center">Enter valid URL for a web page to explore info about the words on the page and view related images.</p>
    <hr />
</div>